name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Login to DockerHub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build and push Docker image
      run: |
        cd backend
        docker build -t "${{ secrets.DOCKER_USERNAME }}/haengsha-backend:latest" .
        docker push "${{ secrets.DOCKER_USERNAME }}/haengsha-backend:latest"
